<h1> |> Elixir Victoria</h1>

<p>Supporting and growing the Elixir programming community in the Greater Victoria Area</p>

<p>Find us on GitHub at <%= link "https://github.com/elixirvictoria", to: "https://github.com/elixirvictoria" %></p>
