<h1>Welcome to Elixir Victoria</h1>

<p>Supporting and growing the Elixir programming community in the Greater Victoria Area</p>

<p>Find us on GitHub at <%= link "https://github.com/elixirvictoria", to: "https://github.com/elixirvictoria" %></p>

<h2>|> Next Scheduled Meetup</h2>
<p>
    Wednesday February 5th @ 4pm - 6pm at the Tyee Housing Co-op Community Room
</p>

<%= render "_location.html", conn: @conn %>
