.background {
  background-image: url("/images/unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1, h2, h3 {
  @extend .mt-4;
  @extend .mb-3;
  @extend .text-primary;
  font-family: $title-font;
}

h2 {
  font-size: 1.4rem !important;
}

.logo-large {
  height: 30px;
}

.navbar-brand {
  font-family: $title-font;
  @extend .text-primary;
}

.small-icon {
 height: 1rem !important;
}
